<div class="container">
  <ul>
    <li>
      <%= link_to "Top Articles of the Day", root_path %>
    </li>
    <li>
      <%= link_to "Top Tags", top_tags_path %>
    </li>
  </ul>
  <h1><%= link_to "All Articles", articles_path %></h1>
  <table>
    <thead>
      <tr>
        <th><%=sortable "source"%></th>
        <th><%=sortable "title"%></th>
        <th><%= sortable "author" %></th>
        <th><%=sortable "total_views", "Total views"%></th>
        <th><%=sortable "tw_count", "Twitter shares" %></th>
        <th><%=sortable "publication_date","Publication Date"%></th>
        <th>Tags</th>
      </tr>
    </thead>
    <tbody>
      <% @articles.each do |article| %>
        <tr>
          <td class="text-center"><%= article.source %></td>
          <td><%= link_to "#{article.title}", article.url, target:'_blank' %></td>
          <td><%= article.author %></td>
          <td class="text-center"><%= article.total_views %></td>
          <td class="text-center"><%= article.tw_count %></td>
          <td class="text-center"><%= (article.publication_date).strftime("%a, %b %d at %H:%M" ) %></td>
          <td class="text-center"><%= raw article.tag_list.map { |t| link_to t, tag_path(t) }.join(', ')%></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
