<div class="container">
  <h3 class="text-center bold">Top 20 - Past 24 Hours (<%= (Date.today).strftime("%a, %b %d" ) %>)</h3>
  <table>
    <thead>
      <tr>
        <th>Rank</th>
        <th>Title</th>
        <th><i class="fas fa-eye"></i></th>
        <th><i class="fab fa-twitter"></i></th>
        <th><i class="fas fa-clock"></i></th>
        <th><i class="fas fa-tags"></i></th>
      </tr>
    </thead>
    <tbody>
      <% @articles.each_with_index do |article,index| %>
        <tr>
          <% if article.status == "New" %>
            <td class="text-center">
              <div class="ranking-box">
                <span class="rank"> <%= index + 1 %> </span>
                <span class="status-new"> <%= article.status.upcase %> </span>
              </div>
            </td>
          <% else %>
            <td class="text-center">
              <span class="rank"><%= index + 1 %></span>
            </td>
          <% end %>
          <td>
            <div id="title-box">
              <%= link_to "#{article.title}", article.url, target:'_blank' %>
              <span id="source-span"><%= article.source %></span>
            </div>
          </td>

          <td class="text-center stats"><%= number_with_delimiter(article.total_views) %></td>
          <td class="text-center stats"><%= number_with_delimiter(article.tw_count) %></td>
          <td class="text-center stats"><%= distance_of_time_in_words(DateTime.now, article.publication_date, scope: 'datetime.distance_in_words.short') %></td>
          <td class="text-center tags"><%= raw article.tag_list.sample(8).sort.map { |t| link_to t, tag_path(t), class:
            'tag_link' }.join(' ')%></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <h3 class="text-center bold">Top 10 on Coin Telegraph</h3>
  <table>
    <thead>
      <tr>
        <th>Rank</th>
        <th>Title</th>
        <th><i class="fas fa-eye"></i></th>
        <th><i class="fab fa-twitter"></i></th>
        <th><i class="fas fa-clock"></i></th>
        <th><i class="fas fa-tags"></i></th>
      </tr>
    </thead>
    <tbody>
      <% @top_cointelegraph.each_with_index do |top_cointelegraph,index| %>
        <tr>
          <% if top_cointelegraph.status == "New" %>
            <td class="text-center">
              <div class="ranking-box">
                <span class="rank"> <%= index + 1 %> </span>
                <span class="status-new"> <%= top_cointelegraph.status.upcase %> </span>
              </div>
            </td>
          <% else %>
            <td class="text-center">
              <span class="rank"><%= index + 1 %></span>
            </td>
          <% end %>
          <td>
            <div id="title-box">
               <%= link_to "#{top_cointelegraph.title}", top_cointelegraph.url, target:'_blank' %>
              <span id="source-span"><%= top_cointelegraph.source %></span>
            </div>
           </td>
          <td class="text-center stats"><%= number_with_delimiter(top_cointelegraph.total_views) %></td>
          <td class="text-center stats"><%= number_with_delimiter(top_cointelegraph.tw_count) %></td>
          <td class="text-center stats"><%= distance_of_time_in_words(DateTime.now, top_cointelegraph.publication_date, scope: 'datetime.distance_in_words.short') %></td>
          <td class="text-center tags"><%= raw top_cointelegraph.tag_list.map { |t| link_to t, tag_path(t), class: 'tag_link' }.join(' ')%></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <h3 class="text-center bold">Top 10 on Bitcoin.com</h3>
  <table>
    <thead>
      <tr>
        <th>Rank</th>
        <th>Title</th>
        <th><i class="fas fa-eye"></i></th>
        <th><i class="fab fa-twitter"></i></th>
        <th><i class="fas fa-clock"></i></th>
        <th><i class="fas fa-tags"></i></th>
      </tr>
    </thead>
    <tbody>
      <% @top_bitcoin.each_with_index do |top_bitcoin,index| %>
        <tr>
          <% if top_bitcoin.status == "New" %>
            <td class="text-center">
              <div class="ranking-box">
                <span class="rank"> <%= index + 1 %> </span>
                <span class="status-new"> <%= top_bitcoin.status.upcase %> </span>
              </div>
            </td>
          <% else %>
            <td class="text-center">
              <span class="rank"><%= index + 1 %></span>
            </td>
          <% end %>
          <td>
            <div id="title-box">
              <%= link_to "#{top_bitcoin.title}", top_bitcoin.url, target:'_blank' %>
              <span id="source-span"><%= top_bitcoin.source %></span>
            </div>
          </td>
          <td class="text-center stats"><%= number_with_delimiter(top_bitcoin.total_views) %></td>
          <td class="text-center stats"><%= number_with_delimiter(top_bitcoin.tw_count) %></td>
          <td class="text-center stats"><%= distance_of_time_in_words(DateTime.now, top_bitcoin.publication_date, scope: 'datetime.distance_in_words.short') %></td>
          <td class="text-center tags"><%= raw top_bitcoin.tag_list.sample(8).sort.map { |t| link_to t, tag_path(t), class: 'tag_link' }.join(' ')%></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <h3 class="text-center bold">Top 10 on CoinDesk</h3>
  <table>
    <thead>
      <tr>
        <th>Rank</th>
        <th>Title</th>
        <th><i class="fas fa-eye"></i></th>
        <th><i class="fab fa-twitter"></i></th>
        <th><i class="fas fa-clock"></i></th>
        <th><i class="fas fa-tags"></i></th>
      </tr>
    </thead>
    <tbody>
      <% @top_coindesk.each_with_index do |top_coindesk,index| %>
        <tr>
          <% if top_coindesk.status == "New" %>
            <td class="text-center">
              <div class="ranking-box">
                <span class="rank"> <%= index + 1 %> </span>
                <span class="status-new"> <%= top_coindesk.status.upcase %> </span>
              </div>
            </td>
          <% else %>
            <td class="text-center">
              <span class="rank"><%= index + 1 %></span>
            </td>
          <% end %>
          <td>
            <div id="title-box">
              <%= link_to "#{top_coindesk.title}", top_coindesk.url, target:'_blank' %>
              <span id="source-span"><%= top_coindesk.source %></span>
            </div>
          </td>
          <td class="text-center stats"><%= number_with_delimiter(top_coindesk.total_views) %></td>
          <td class="text-center stats"><%= number_with_delimiter(top_coindesk.tw_count) %></td>
          <td class="text-center stats"><%= distance_of_time_in_words(DateTime.now, top_coindesk.publication_date, scope: 'datetime.distance_in_words.short') %></td>
          <td class="text-center tags"><%= raw top_coindesk.tag_list.map { |t| link_to t, tag_path(t), class: 'tag_link' }.join(' ')%></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
